*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    position: relative;
    scrollbar-width: thin;
}
/* nav bar / and floting sec... */
/* cursor */

#cursor{
    height: 20px;
    width: 20px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: red;
    border-radius: 50%;

}
#nav-bar{
    right: 0px;
    position: fixed;
    height: 100vh;
     width: 10rem;
    background: #2C3E50;
    
}
.links{
    position: absolute;
    bottom: 10px;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
    gap: 10px;
    justify-content: space-evenly;
    align-items: end;
    color: #fff;
}
.links li{
    font-size: 1rem;
    padding: 6px;
}

.navigation{
    position: absolute;
    top: 180px;
    padding-left: 10px;
    width: 80%;
    display: flex;
    color: aliceblue;
    overflow: hidden;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    justify-content: center;
    right: 10px;
}
.navigation h3{
    font-size: 1rem;

}
.hidden{
    display: none;
}

.menu{
    position: fixed;
    /* border-radius: 10px; */
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    top: 140px;
    right: 130px;
    align-content: start;
    color: #fff;
    height: 320px;
    width: 60px;
    z-index: 88;
    background: #D35400;
}
.menu i{
   font-size: 1.3rem;
   padding-bottom: 14px;
   padding-top: 14px;
   cursor: pointer;
}
/* page 1 and all things... */
#page1{
    height: 100%;
    width: calc(100% - 14rem);
    /* background: rgb(92, 64, 64); */
    display: flex;
    align-items: center;
    justify-content: center;
}
#center-photo{
    height: 60vh;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    /* background: rgba(79, 78, 78, 0.231); */
    
}
.picture{
    height: 100%;
    width: 40%;
    background-image: url(profilepic.png);
    background-size: cover;
    overflow: hidden;
}
.infomation{
    height: 100%;
    width: 60%;
    /* background: #7e6a6a; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.box1{
    height: 50px;
    position: absolute;

    width: 50px;
    top: 60px;
    left: 60px;
    /* top: 120px;
    left: 180px; */
    /* background: red; */
    border-top: 4px solid #D35400;
    border-left: 4px solid #D35400;
    box-shadow: -8px -8px 6px #d3540065;
}
.box2{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom:  50px;
    right: 60px;
    /* top: 140px;
    left: 200px; */
    /* background: red; */
    box-shadow: 8px 8px 6px #d3540065;


    border-bottom: 4px solid #D35400;
    border-right: 4px solid #D35400;
}
.data{
        height: 30vh;
    width: 25vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.data h4{
    font-weight: 700;  
    font-size: 1rem ;
    /* line-height: 30px; */
}
.big{
    line-height: 40px;
    font-size: 1.3rem;
    /* color: aqua; */
}
#discribe{
    font-size: 1rem;
    font-weight: 700;  
      white-space: nowrap;
    /* line-height: 20px;/ */
}
.blue{
    font-size: 1.1rem;
    font-weight: 800;
    color: #007ACC ;
}
.multi{
    font-size: 1.1rem;
    font-weight: 800;
    color: #FBC02D ;
}
/* page 1 done .. */
/* page2 */
#page2{
    height: 100%;
    width:100%;
    /* background: rgb(92, 64, 64); */
    display: flex;
    align-items: center;
    justify-content: center;
}

#Journey{
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.image{
  width: 27%;
}
#Journey img{
     width: 100%;
   
    object-fit: contain;
    mix-blend-mode: multiply;
}
.text{
    height: 50%;
    margin-left: 10px;
    width: 65%;
    margin-right: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;

 
}
.text h2 , p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.text h2{
    line-height: 70px;
    font-weight: 700;
}
.text p{
   line-height: 25px;
}