*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    position: relative;
    scrollbar-width: thin;
    /* background: rgb(246, 233, 216); */
    background: rgb(240, 224, 200) ;
}
/* nav bar / and floting sec... */
/* cursor */

#cursor{
    height: 20px;
    width: 20px;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: red;
    border-radius: 50%;

}
#nav-bar{
    right: 0px;
    position: fixed;
    height: 100vh;
     width: 10rem;
    background: #2C3E50;
    
}
.links{
    position: absolute;
    bottom: 10px;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
    gap: 10px;
    justify-content: space-evenly;
    align-items: end;
    color: #fff;
}
.links li{
    font-size: 1rem;
    padding: 6px;
}

.navigation{
    position: absolute;
    top: 180px;
    padding-left: 10px;
    width: 80%;
    display: flex;
    color: aliceblue;
    overflow: hidden;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    justify-content: center;
    right: 10px;
}
.navigation h3{
    font-size: 1rem;

}
.hidden{
    display: none;
}

.menu{
    position: fixed;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    top: 140px;
    right: 130px;
    align-content: start;
    color: #fff;
    height: 320px;
    width: 60px;
    z-index: 88;
    background: #D35400;
}
.menu i{
   font-size: 1.3rem;
   padding-bottom: 14px;
   padding-top: 14px;
   cursor: pointer;
}
/* page 1 and all things... */
#page1{
    height: 100%;
    width: calc(100% - 14rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#center-photo{
    height: 60vh;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    box-shadow: 3px 3px 10px #f4ccabdc;
}
.picture{
    height: 100%;
    width: 40%;
    background-image: url(profilepic.png);
    background-size: cover;
    overflow: hidden;
}
.infomation{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.box1{
    height: 50px;
    position: absolute;

    width: 50px;
    top: 60px;
    left: 60px;

    border-top: 4px solid #D35400;
    border-left: 4px solid #D35400;
    box-shadow: -8px -8px 6px #d3540065;
}
.box2{
    height: 50px;
    width: 50px;
    position: absolute;
    bottom:  50px;
    right: 60px;
  
    box-shadow: 8px 8px 6px #d3540065;


    border-bottom: 4px solid #D35400;
    border-right: 4px solid #D35400;
}
.data{
        height: 30vh;
    width: 25vw;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.data h4{
    font-weight: 700;  
    font-size: 1rem ;

}
.big{
    line-height: 40px;
    font-size: 1.3rem;

}
#discribe{
    font-size: 1rem;
    font-weight: 700;  
      white-space: nowrap;

}
.blue{
    font-size: 1.1rem;
    font-weight: 800;
    color: #007ACC ;
}
.multi{
    font-size: 1.1rem;
    font-weight: 800;
    color: #FBC02D ;
}
/* page 1 done .. */
/* string */

.string{
    height: 200px;
    width: 100%;

}

/* page2 */
#page2{
    height: 70vh;
    width:100%;
 
    display: flex;
    align-items: center;
    justify-content: center;
}

#Journey{
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.image{
  width: 27%;
  mix-blend-mode: multiply;
}
#Journey img{
     width: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}
.text{
    height: 50%;
    margin-left: 10px;
    width: 65%;
    margin-right: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;

 
}
.text h2 , p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#color-1{
    font-size: 1.1rem;
    color: #FF5733;
}
#color-2{
    font-size: 1.1rem;
    color:  #3498DB;
}
#color-3{
    font-size: 1.1rem;
    color: #28B463;
}
#color-4{
    font-size: 1.1rem;
    color: #F1C40F;
}
#color-5{
    font-size: 1.1rem;
    color: #9B59B6;
}
#color-6{
    font-size: 1.1rem;
    color: #E67E22;
}
#color-7{
    font-size: 1.1rem;
    color: #16A085;
}
.text h2{
    line-height: 70px;
    font-weight: 700;
}
.text p{
   line-height: 25px;
}

#page3{
    height: 50vh;
    width: 100%;
    align-content: center;
    padding-left: 20px;
    /* background: #fff3f3; */
    text-align: center;
    color: #1c1b1adb;
}
#page3 h2{
    font-size: 1.1rem;
    align-content: center;
    margin-bottom: 10px;
}
#page3 h2 span{
    border-bottom:2px solid #ffbb00;
    
}
#project-overview{
    margin-top: 100px;
    margin-bottom: 90px;
    font-size: 1.1rem;
    text-align: center;
}
/* page4 */
.page4{
    height: 60vh;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-evenly;

}


.project{
    border-radius: 20px;
    height: 70%;
    width: 40%;
    overflow: hidden;
    border: 2px solid #ccc;
    position: relative;
    z-index: -10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
/* .project img{
    height: 100%;
} */
.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#2c3e50a4; /* Dark transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transform transition */
    border-radius: 8px;


  }
  .title-text {
    color: #fff;
    /* font-size: 1.2rem; */
    text-align: center;
    padding: 10px;
    transform: translateX(-100%); /* Start from off-screen (left) */
    transition: transform 0.3s ease; /* Animate slide-in */
  }
  .title-text h3{
    font-size: 1rem;

  }
  .title-text p{
    padding:0 40px;
    font-size: 0.8rem;

  }
  .button{
    margin-top: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }
  .button button{
    height: 20px;
    width: 60px;
    border: none;
    background: #79b3da91 ;
    border-radius: 7px;
    font-size: 0.7rem;
    transition: transform 0.3s ease; 
  }
  .button button:hover{
    transform: scale(1.05);
background: #79b3dae1;
  }

.project:hover {
    transform: scale(1.05); /* Slight zoom on hover */
  }
  .project:hover .title {
    opacity: 1; /* Overlay becomes visible */
  }
  
  .project:hover .title-text {
    transform: translateX(0); /* Slide the text in from the left */
  }

 
  #contact {
    max-width: 1000px;
    margin: 100px ;
    padding: 20px;
    background: rgba(238, 234, 229, 0.622) ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #contact h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.622) ;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 4px;
  }
  .form-group textarea{
    resize: none;
  }
  #contact button {
    background-color: #2980b9;
    color: #fff;
    box-shadow: 2px 2px 5px hsla(39, 10%, 34%, 0.757);
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;  
    transition: all 0.3s ease;   
    border-radius: 14px;   
  }
  
  #contact button:hover {
    background-color: #2094e1;
    box-shadow: 2px 2px 5px hsla(40, 19%, 49%, 0.843);


  }
  
  .footer{
    height: 20vh;
    width: 100%;
    background: red;
  }